#body {
  background: rgb(101, 169, 214);
}
#todaySkyPic {
  border: solid gray 1px;
}
#cityName {
  font-size: 4em;
  text-align: center;
}
#fiveD {
  font-size: 2em;
  text-align: center;
}
#zero {
  text-align: center;
  width: 25%;
  margin: auto;
  border: #7800fb54 solid 0.2em;
  color: white;
}
.weatherReading {
  font-size: 1.2em;
  background: #806bb1;
  text-align: center;
  border: #553573 solid 0.3em;
  color: white;
}
.rows {
  border: solid #7800fb54 0.2em;
  display: flex;
  margin: 1em;
}
